.about-colors {
  --bg-color: rgb(118, 111, 14)!important;
  --text-color: rgb(234, 234, 247);
  --inv-text-color: var(--bg-color);
  --inv-bg-color: var(--text-color);
  justify-content: center;
}

:root {
  height: 100%;
}

.about-text-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  overflow-y: visible;
  justify-self: center;
  align-self: center;
  display: grid;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about-text {
  margin-top: 8vh;
  margin-bottom: 8vh;
  width: 55%;
  height: 90%;
  text-align: left;
  white-space: wrap;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.about-title {
  font-size: calc(20px + 2vmin);
  color: var(--text-color);
  margin-bottom: 1em;
  text-align: left;
}

.about-description {
  font-size: calc(9px + 1.5vmin);
  margin-bottom: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.me-fact-wrapper {
  background: transparent;
  display: inline-block;
  transform-style: preserve-3d;
  padding: 0%;
  margin-bottom: -0.2em;
  color: var(--text-color);
  z-index: 999;
  font-weight: normal;
  color: inherit;
}

.me-fact-wrapper:first-child { 
  margin-bottom: 1em;
  margin-bottom: 0.8em;
}

.me-fact-wrapper:last-child {
  margin-bottom: 1em;
}

.me-fact-wrapper:hover {
  font-weight: bold!important;
  color: orange!important;
  animation: wiggle 0.3s linear;
}

@keyframes wiggle {
  0% { transform: scale(1.0); }
  15% { transform: scale(0.97); }
  40% { transform: scale(1.02) translateY(-2%); }
  95% { transform: scale(0.99); }
  100% { transform: scale(1.0); }
}

button#skip-button {
  display: inline-block;
  bottom: 0px;
  position: relative!important;
  align-self: center;
  border: none;
  margin-bottom: 1em;
  font-size: calc(12px + 1.5vmin)!important;
  margin-top: 2em;
  top: auto!important;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
button#skip-button:before {
  content: 'v';
}

button#skip-button:hover {
  animation: boing 0.3s linear;
  background-color: transparent;
  color: orange;
}

button#skip-button:hover:before {
  content: "skip?";
}

img#person-icon {
  position: absolute;
  width: min(5em, 11vw);
  left: 4%;
  bottom: 0%;
  transition: left 0.7s ease-in-out;
  cursor: pointer!important;
  content: url("../assets/person.png");
}

img#person-icon:hover {
  content: url("../assets/orange_person.png");
  animation: wiggle 0.3s linear;
}

img#self-gif {
  position: absolute;
  width: 20em;
  left: 0%;
  bottom: 0%;
  z-index: 999;
}

.invisible {
  content: url("../assets/orange_person.png")!important;
  left: -6em!important;
}

@media screen and (max-width: 715px) { 
  .about-text {
    width: 75%;
  }
  img#person-icon { 
    left: 0%;
  }
  .about-title { 
    display: flex;
    flex-direction: column;
  }
}