.about-colors {
  --bg-color: rgb(118, 111, 14)!important;
  --text-color: rgb(234, 234, 247);
  --inv-text-color: var(--bg-color);
  --inv-bg-color: var(--text-color);
}

div#app-base {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.about-me-title {
  color: var(--text-color);
  margin-bottom: 7em;
}