/* ============================================
   COLOR THEME
   ============================================ */

body:has(#app-base.about-colors) {
  --text-color: rgb(234, 234, 247) !important;
}

.about-colors {
  --bg-color: rgb(70, 27, 241) !important;
  --text-color: rgb(234, 234, 247);
  --inv-text-color: var(--bg-color);
  --inv-bg-color: var(--text-color);
  justify-content: center;
}

:root {
  height: 100%;
}


/* ============================================
   LAYOUT
   ============================================ */

.about-text-wrapper {
  position: absolute;
  left: calc(-3.2vmin);
  width: 100%;
  height: 100%;
  display: grid;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  overflow-y: visible;
  user-select: none;
}

.about-text {
  position: absolute;
  width: 55%;
  height: 90%;
  margin-top: 8vh;
  margin-bottom: 8vh;
  justify-self: center;
  align-self: center;
  text-align: left;
  white-space: wrap;
}


/* ============================================
   TYPOGRAPHY
   ============================================ */

.about-title {
  margin-bottom: 1em;
  font-size: calc(25px + 2vmin);
  color: orange;
  text-align: left;
}

.about-description {
  width: 100%;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  font-size: calc(13px + 1.5vmin);
}


/* ============================================
   FACTS LIST
   ============================================ */

.me-fact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: -0.2em;
  padding: 0;
  z-index: 1;
  background: transparent;
  color: var(--text-color);
  font-weight: normal;
  transform-style: preserve-3d;
  position: relative;
}

.me-fact-wrapper:first-child {
  margin-bottom: 0.8em;
}

.me-fact-wrapper:last-child {
  margin-bottom: 1em;
}

.me-fact {
  margin: 0 0 1.9em 0;
  cursor: var(--pointer);
}

.me-fact::after,
.me-fact .react-type-animation-cursor,
.description-text::after {
  background-color: transparent !important;
  color: var(--text-color) !important;
  caret-color: var(--text-color) !important;
}

.me-fact:hover {
  color: orange !important;
  font-weight: bold !important;
  animation: wiggle 0.3s linear;
}

@keyframes wiggle {
  0% { transform: scale(1.0); }
  15% { transform: scale(0.97); }
  40% { transform: scale(1.02) translateY(-2%); }
  95% { transform: scale(0.99); }
  100% { transform: scale(1.0); }
}

.speaker-icon {
  height: calc(3.2vmin);
  margin-right: 0.6em;
  align-self: flex-start;
}

.headphones-icon {
  position: absolute;
  left: calc(-3.5vmin - 0.8em);
  top: 0.15em;
  height: calc(3.5vmin);
  min-height: 24px;
  opacity: 0;
  filter: brightness(0) saturate(100%) invert(94%) sepia(13%) saturate(124%) hue-rotate(318deg) brightness(106%) contrast(100%);
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.me-fact:hover ~ .headphones-icon,
.me-fact-wrapper:has(.me-fact:hover) .headphones-icon {
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(1588%) hue-rotate(360deg) brightness(102%) contrast(101%);
  animation: wiggle 0.3s ease;
}


/* ============================================
   SKIP BUTTON
   ============================================ */

button#skip-button {
  position: relative !important;
  bottom: 0;
  top: auto !important;
  margin-top: 2em;
  margin-bottom: 1em;
  display: inline-block;
  align-self: center;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-family: ShareTechMono, sans-serif;
  font-size: calc(12px + 1.5vmin) !important;
  cursor: var(--pointer);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

button#skip-button::before {
  content: 'v';
}

button#skip-button:hover {
  background-color: transparent;
  color: orange;
  animation: boing 0.3s linear;
}

button#skip-button:hover::before {
  content: "skip?";
}


/* ============================================
   PERSON ICON
   ============================================ */

img#person-icon {
  position: absolute;
  left: 2%;
  bottom: 0;
  width: min(7em, 14vw);
  cursor: var(--pointer);
  filter: brightness(0) saturate(100%) invert(94%) sepia(13%) saturate(124%) hue-rotate(318deg) brightness(106%) contrast(100%);
  transition: left 0.7s ease-in-out, filter 0.4s ease-out;
}

*.hovered-person {
  filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(1588%) hue-rotate(360deg) brightness(102%) contrast(101%) !important;
  pointer-events: auto;
  animation: wiggle 0.3s linear;
}

.invisible {
  left: -8em !important;
  filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(1588%) hue-rotate(360deg) brightness(102%) contrast(101%) !important;
}

img#self-gif {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20em;
  z-index: 999;
}


/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media screen and (max-width: 1200px) {
  .about-text {
    left: 20%;
    width: 75%;
  }

  .about-title {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  img#person-icon {
    left: 2%;
  }
}
