body {
  overflow-x: hidden;
  overflow-y: auto;
}

div#app-base {
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 2s linear !important;
  justify-content: center;
  display: flex;
  top: 0px !important;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.content-wrapper {
  font-size: calc(8px + 2vmin);
  width: 45%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
}

.title {
  position: relative;
  top: 0px;
  margin: 1px;
  margin-top: 1.3em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: orange;
}

.description {
  position: relative;
  margin: 0px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.description-text::after {
  color: orange;
}

.bracket {
  font-weight: bold;
}

.links {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 2.8em;
  user-select: none !important;
  margin-bottom: 0px;
}

.link {
  color: inherit; /* no blue link text */
  text-decoration: none; /* no underlined link text */
  transition: transform 0.8s ease;
  overflow: visible;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: var(--pointer);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  position: relative;
}
a.link {
  cursor: var(--pointer);
}
a.link:hover {
  color: var(--inv-text-color);
  background-color: var(--inv-bg-color);
}
a.link:hover > p.link-text {
  animation: boing 0.3s ease-in-out alternate;
}
a.link:hover > .tooltip-text {
  animation: boing 0.3s ease-in-out alternate;
}

.link::before {
  position: absolute;
  left: -1.7em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
  background-color: transparent;
  animation: none !important;
}

/* ================================
 * main site links
 * ================================ */
.link[href*="projects"]::before {
  content: "𐐹";
}
.link[class*="about"]::before {
  content: "𐐴";
}
.link[class*="resume"]::before {
  content: "𐑉";
}
.link[href*="github"]::before {
  content: "𐑀";
}
.link[href*="linkedin"]::before {
  content: "𐑊";
}
.link[href*="mailto"]::before {
  content: "𐑋";
}

/* ================================
  * project links (proj-colors)
  * ================================ */
.link[href*="mapinator"]::before {
  content: "⛰";
}
.link[href*="sudoku"]::before {
  content: "⊞";
}
.link[href*="thangs"]::before {
  content: "⚙";
}
.link[href*="snek"]::before {
  content: "𓆙";
}
.link[href*="img-butler"]::before {
  content: "⚞";
}
.link[href*="spagett"]::before {
  content: "≈";
}
.link[href*="shufflenator"]::before {
  content: "⇄";
}
.link[href*="game-of-life"]::before {
  content: "☯";
}

/* ================================
  * hidden or WIP
  * ================================ */
.link[href*="toolbox"]::before {
  content: "⚒";
}
.link[href*="infinite-terrain"]::before {
  content: "∞";
}
.link[href*="rpg-tabletop"]::before {
  content: "♟";
}
.link[href*="wip"]::before {
  content: "⧗";
}

p.link-text {
  margin-left: 10px;
  margin-top: 0em;
  margin-right: 0.3em;
  margin-bottom: 0em;
}

.tooltip-text {
  font-size: calc(9px + 0.75vmin);
  color: var(--inv-text-color);
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 10px;
  cursor: var(--pointer);
  text-align: right;
  flex-shrink: 0;
}

@media screen and (max-width: 1255px) {
  .content-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 975px) {
  p.link-text {
    font-size: calc(12px + 1vmin);
  }
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    width: 80%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .content-wrapper {
    width: 90%;
    overflow-y: hidden;
  }

  .description {
    white-space: wrap;
  }

  div#app-base {
    overflow-y: visible;
  }
}

@media screen and (max-height: 690px) {
  div#footer {
    visibility: hidden;
  }
}

div#footer {
  font-size: calc(8px + 1vmin);
  text-align: right;
  align-content: center;
  align-items: center;
  position: absolute;
  width: auto;
  height: 2.5em;
  bottom: 0px;
  right: 30px;
  z-index: 300;
  background-color: transparent;
  color: var(--text-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
