/* ============================================
   BASE LAYOUT
   ============================================ */

body {
  overflow-x: hidden;
  overflow-y: auto;
}

div#app-base {
  position: fixed;
  top: 0 !important;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 2s linear !important;
}

.content-wrapper {
  position: relative;
  width: 45%;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
}

.header-line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}

.header-line > .title {
  margin-right: 0.5em;
}

.header-line > .description {
  margin-top: 1.3em;
}

/* ============================================
   TYPOGRAPHY & CONTENT
   ============================================ */

.title {
  position: relative;
  top: 0;
  margin: 1px;
  margin-top: 1.3em;
  color: var(--color-orange);
  user-select: none;
}

.description {
  position: relative;
  margin: 0 0 0.5em 0;
  margin-top: 1em;
  display: flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
}

.description::before {
  content: '\200B';
  display: inline-block;
  width: 0;
}

.description-text {
  display: inline-block;
}

.description-text::after {
  color: var(--color-orange);
}

.bracket {
  font-weight: bold;
}

/* ============================================
   LINKS - CONTAINER
   ============================================ */

.links {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 2.8em;
  margin-bottom: 0;
  margin-top: 0.5em;
  user-select: none !important;
}

/* ============================================
   LINKS - BASE STYLES
   ============================================ */

.link {
  position: relative;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  overflow: visible;
  color: inherit;
  text-decoration: none;
  cursor: var(--pointer);
  transition: transform 0.8s ease;
  user-select: none;
}

a.link {
  cursor: var(--pointer);
}

/* ============================================
   LINKS - HOVER STATES
   ============================================ */

a.link:hover {
  color: var(--inv-text-color);
  background-color: var(--inv-bg-color);
}

a.link:hover > p.link-text,
a.link:hover > .tooltip-text {
  animation: boing 0.3s ease-in-out alternate;
}


/* ============================================
   LINKS - TEXT CONTENT
   ============================================ */

p.link-text {
  margin: 0;
  margin-top: 0.75em;
  margin-left: 10px;
  margin-right: 0.3em;
  padding: 0;
}

.tooltip-text {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-size: calc(9px + 0.75vmin);
  color: var(--inv-text-color);
  text-align: right;
  cursor: var(--pointer);
  flex-shrink: 0;
}

/* ============================================
   FOOTER
   ============================================ */

div#footer {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: auto;
  height: 2.5em;
  z-index: 300;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: calc(8px + 1vmin);
  text-align: right;
  color: var(--text-color);
  background-color: transparent;
  user-select: none;
}

/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media screen and (max-width: 1255px) {
  .content-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 975px) {
  p.link-text {
    font-size: calc(12px + 1vmin);
  }
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    width: 90%;
    margin-top: 50px;
  }

  .tooltip-text {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .content-wrapper {
    width: 95%;
    overflow-y: hidden;
  }

  .description {
    white-space: wrap;
  }

  div#app-base {
    overflow-y: visible;
  }
}

@media screen and (max-height: 690px) {
  div#footer {
    visibility: hidden;
  }
}
