/* ============================================
   COLOR THEME & CONTAINER
   ============================================ */

div#game-4096 {
  --bg-color: var(--color-purple-dark) !important;
  --border-color: var(--color-purple-slate);
  --text-color: var(--color-off-white) !important;

  position: absolute;
  top: 0 !important;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--large-font);
  user-select: none;
}


/* ============================================
   GAME BOARD
   ============================================ */

.board-4096 {
  width: 70vmin;
  height: 70vmin;
  display: inline-grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
  text-align: center;
}

.cell-4096 {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-black);
}
