/* ============================================
   GAME CONTAINER & LAYOUT
   ============================================ */

div#fish-match {
  position: absolute;
  top: 0 !important;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  /* Color overrides */
  --bg-color: var(--color-purple-deep) !important;
  --text-color: var(--color-teal) !important;
  --back-color: var(--color-blue-slate);
  --inner-color: var(--color-blue-gray);
  --question-mark: var(--color-teal);
}

.match-game {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-rows: 15% 5% 80%;
  grid-template-columns: 100%;
  justify-content: center;
  text-align: center;
}

/* ============================================
   LOADING & UI ELEMENTS
   ============================================ */

.loading-bar {
  width: 60%;
  align-self: center;
  font-family: JuliaMono;
  font-size: var(--medium-font);
  text-align: left;
}

.match-title {
  align-self: center;
  top: 0;
  width: 100%;
  font-size: var(--large-font) !important;
}

.miss-count {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: var(--small-font) !important;
}

/* ============================================
   GAME BOARD
   ============================================ */

.match-board {
  position: relative;
  top: 10%;
  width: 100vmin;
  height: fit-content;
  display: inline-grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  justify-self: center;
}

.fish-image-row {
  width: 80vmin;
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  grid-template-rows: repeat(2, 50%);
  flex-direction: row;
}

/* ============================================
   CARDS
   ============================================ */

.fish-image {
  width: 97%;
  height: 97%;
  aspect-ratio: 1/1;
  cursor: var(--pointer);
  background-color: var(--inner-color);
}

.fish-image.short {
  margin-top: 5%;
  width: 96%;
  height: 96%;
  aspect-ratio: 1/1;
  cursor: var(--arrow);
}

.fish-image.back {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: var(--large-font);
  color: var(--question-mark);
  background-color: var(--back-color);
}

.card-back-text {
  margin: 0;
}

.fish-image.completed {
  cursor: var(--arrow);
  pointer-events: none;
  background-color: var(--bg-color);
}

/* ============================================
   WIN SCREEN
   ============================================ */

.win-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--large-font);
}

.win-details {
  font-size: var(--medium-font);
}

.play-again {
  margin-top: 20px;
  font-size: var(--medium-font);
  cursor: var(--pointer);
}

.play-again:hover {
  color: var(--color-orange);
}

/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media screen and (max-width: 600px) {
  .match-board {
    width: 85%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, calc(100% / 6));
  }

  .loading-bar {
    width: 90%;
    text-align: center;
  }

  .fish-image-row {
    width: 90vmin;
  }
}

@media screen and (max-width: 500px) {
  .match-game {
    grid-template-rows: 30% 5% 65%;
  }
}
