div#fish-match {
  --bg-color: #201658!important;
  --text-color: #57A6A1!important;
  --back-color: #344C64;
  --inner-color: #577B8D;
  --question-mark: #57A6A1;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  overflow: scroll;

  justify-content: center;
  top: 0px!important;
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.loading-bar {
  width: 60%;
  text-align: left;
  align-self: center;
  font-family: F25_Bank_Printer;
  font-size: var(--medium-font);
}

.match-game {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-rows: 10% 5% 85%;
  grid-template-columns: 100%;
  top: 0%;
  position: absolute;
}

.match-title {
  font-size: var(--large-font)!important;
  align-self: center;
  top: 0%;
  width: 100%;
}

.miss-count {
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: var(--small-font)!important;
}

.match-board {
  display: inline-grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  justify-self: center;
  top: 10%;
  width: 100vmin;
  height: fit-content;
  position: relative;
}

.fish-image {
  width: 97%;
  height: 97%;
  cursor: var(--pointer);
  aspect-ratio: 1/1;
  background-color: var(--inner-color);
}

.fish-image.short {
  margin-top: 5%;
  height: 96%;
  width: 96%;
  aspect-ratio: 1/1;
  margin-left: 10px;
  cursor: var(--arrow);
}
.fish-image-row {
  margin-top: 5%;
  display: inline-grid;
  grid-template-columns: repeat(6, calc(100% /6));
  grid-template-rows: repeat(2, 50%);
  flex-direction: row;
  width: 80vmin;
}

.fish-image.back {
  background-color: var(--back-color);
  color: var(--question-mark);
  font-size: var(--large-font);
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: inline-grid;
}
.card-back-text {
  margin: 0px;
}

.fish-image.completed {
  background-color: var(--bg-color);
  pointer-events: none;
  cursor: var(--arrow);
}

.win-screen {
  text-align: center;
  font-size: var(--large-font);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.win-details {
  font-size: var(--medium-font);
}

.play-again {
  margin-top: 10%;
  font-size: var(--medium-font);
  cursor: var(--pointer);
}
.play-again:hover {
  color: orange;
}

@media screen and (max-width: 600px) {
  .match-board  { 
    width: 85%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, calc(100% / 6));
  }
  .loading-bar {
    width: 90%;
    text-align: center;
  }
}
