/* ============================================
   NAVBAR CONTAINER
   ============================================ */

.navbar {
  position: absolute !important;
  left: 0;
  margin-top: 0.5em;
  margin-left: 0.4em;
  z-index: 999;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  font-size: calc(16px + 1vmin);
  user-select: none;
  pointer-events: none;
}


.hamburger-react {
  position: relative;
  z-index: 999;
  background-color: transparent;
  color: var(--text-color);
  pointer-events: auto;
}

/* ============================================
   NAV LINKS
   ============================================ */

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  color: transparent;
  text-decoration: none;
  cursor: var(--arrow) !important;
  pointer-events: none;
  transition: color 0.4s, display 0.4s;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link:hover {
  color: orange;
  animation: boing 0.3s ease-in-out alternate;
}

.nav-link:hover .nav-icon::before {
  color: orange;
}

.nav-link-text {
  height: fit-content;
  margin-left: 0.3em;
  pointer-events: none;
  transition: color 0.4s;
}

/* ============================================
   NAV ICONS - BASE STYLES
   ============================================ */

.nav-icon {
  width: calc(4vmin);
  height: calc(4vmin);
  cursor: var(--pointer);
  pointer-events: all;
  filter: brightness(0) saturate(100%) invert(100%);
  transition: filter 0.4s;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

/* ============================================
   ACTIVE STATE
   ============================================ */

.nav-icon.active,
.nav-link:hover .nav-icon {
  filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(1588%) hue-rotate(360deg) brightness(102%) contrast(101%);
}

/* ============================================
   SHAVIANATOR PAGE OVERRIDE
   ============================================ */

body:has(#app-base.shavianator-colors) .nav-icon {
  filter: brightness(0) saturate(100%) invert(0%);
}

body:has(#app-base.shavianator-colors) .nav-icon.active,
body:has(#app-base.shavianator-colors) .nav-link:hover .nav-icon {
  filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(1588%) hue-rotate(360deg) brightness(102%) contrast(101%);
}

/* ============================================
   RESPONSIVE - MOBILE (max-width: 500px)
   ============================================ */

@media screen and (max-width: 500px) {
  .navbar {
    left: 0 !important;
    width: 100%;
    margin-left: 0;
    display: inline-grid;
    grid-template-columns: 14% 28% 28% 28% 2%;
    justify-content: right;
  }

  .hamburger-react {
    width: 100%;
    justify-self: center;
  }

  .nav-link {
    width: 100%;
    flex-direction: column;
    cursor: var(--pointer) !important;
    pointer-events: all;
  }

  .nav-link-text {
    margin-top: 0.4em;
    margin-left: 0;
    color: var(--text-color);
  }

  .nav-link:hover > .nav-link-text,
  .nav-link.active > .nav-link-text {
    color: orange;
  }

  .nav-icon {
    margin-right: 0 !important;
  }
}

/* ============================================
   RESPONSIVE - EXTRA SMALL (max-width: 230px)
   ============================================ */

@media screen and (max-width: 230px) {
  .nav-link-text {
    margin: 0.4em;
  }
}
