.proj-colors {
  --bg-color: var(--alt-text-color);
  --inv-text-color: var(--bg-color);
  --inv-bg-color: var(--text-color);
}

div#app.lightning {
  background-image: url('../assets/bolt_backgroud.gif')!important;
  background-size: cover;
  background-color: transparent;
  height: 100%;
  overflow-y: hidden;
}
