/* ============================================
   COLOR THEME
   ============================================ */

.proj-colors {
  --bg-color: rgb(70, 27, 241) !important;
  --inv-text-color: var(--bg-color);
  --inv-bg-color: var(--text-color);
}


/* ============================================
   SPECIAL EFFECTS
   ============================================ */

div#app.lightning {
  height: 100%;
  overflow-y: hidden;
  background-color: transparent;
  background-image: url('../assets/raincloud/bolt_backgroud.gif') !important;
  background-size: cover;
}
