/* rain drop styles */

.drop {
	height: 2.5vw;
	position: absolute;
	bottom: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 85px;
  left: var(--rand);
  z-index: 1;
  -webkit-animation: fall 3s linear;
  -moz-animation: fall 3s linear;
}

/* drop animation styles */
@-webkit-keyframes fall {
	to {margin-top: 100%;}
}
@-moz-keyframes fall {
	to {margin-top:100%;}
}

@keyframes fall {
  to {margin-top:100vh;}
}

div#raincloud {
  height: 90vh;
  width: 18vw;
  right: 5vw;
  top: 10%;
  position: absolute;
}

div#cloud {
  width: 100%;
  position: absolute;
}

img#cloud-gif,
img#cloud-img {
  width: 100%;
  z-index: 999;
  position: absolute;
  cursor: pointer;
}

img#lightning {
  position: absolute;
  height: 104%;
  width: 200%;
  top: 10%;
  bottom: 0em;
  left: -50%;
}  

img.flower {
  bottom: 0px;
  height: 10vh;
  position: absolute;
}