/* rain drop styles */

:root {
  --fall-height: 100vh;
}

.drop {
	height: 4vh;
	position: absolute;
  /* top: 85px; */
  left: var(--rand);
  z-index: 500;
  -webkit-animation: fall 3.01s linear;
  -moz-animation: fall 3.01s linear;
}

/* drop animation styles */
@-webkit-keyframes fall {
  from {margin-top: 95px;}
  to {margin-top: var(--fall-height);}
}
@-moz-keyframes fall {
  from {margin-top: 95px;}
  to {margin-top: var(--fall-height);}
}
@keyframes fall {
  from {margin-top: 95px;}
  to {margin-top: var(--fall-height);}
}

div#raincloud {
  height: 100vh;
  width: 20vw;
  left: -21vw;
  top: 0vh;
  position: absolute;
  overflow: visible;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

div#rainfall-zone {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden!important;
}

@media screen and (max-width: 500px) {
  div#raincloud {
    position: relative;
    top: 2vh;
    width: 80vw;
    left: 0vw;
    height: 500px;
  }
  :root {
    --fall-height: 490px;
  }
  img.flower { 
    bottom: 2vh!important;
  }
}

div#cloud {
  width: 100%;
  position: absolute;
}

.cloud-gif,
.cloud-img,
.cloud-img.hoverable-cloud {
  width: 100%;
  z-index: 999;
  position: absolute;
  cursor: pointer;
}

.cloud-gif {
  content: url('../assets/cloud.gif');
}
.cloud-img {
  content: url('../assets/cloud.png');
}
.cloud-img.hoverable-cloud:hover {
  content: url('../assets/darkCloud.png');
}

img#lightning {
  position: absolute;
  height: 104%;
  width: 200%;
  top: 10%;
  bottom: 0em;
  left: -50%;
  z-index: 500;
}  

img.flower {
  bottom: 0px;
  height: 10vh;
  position: absolute;
  z-index: 400;
}