/* rain drop styles */

.drop {
	height: 4vh;
	position: absolute;
	bottom: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 85px;
  left: var(--rand);
  z-index: 1;
  -webkit-animation: fall 3s linear;
  -moz-animation: fall 3s linear;
}

/* drop animation styles */
@-webkit-keyframes fall {
	to {margin-top: 100%;}
}
@-moz-keyframes fall {
	to {margin-top:100%;}
}

@keyframes fall {
  to {margin-top:100vh;}
}

div#raincloud {
  height: 90vh;
  width: 18vw;
  left: -23vw;
  top: 10vh;
  position: absolute;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 500px) {
  div#raincloud {
    position: relative;
    top: 2vh;
    width: 90vw;
    left: -2vw;
    height: 60vh;
  }
}

div#cloud {
  width: 100%;
  position: absolute;
}

.cloud-gif,
.cloud-img,
.cloud-img.hoverable-cloud {
  width: 100%;
  z-index: 999;
  position: absolute;
  cursor: pointer;
}

.cloud-gif {
  content: url('../assets/cloud.gif');
}
.cloud-img {
  content: url('../assets/cloud.png');
}
.cloud-img.hoverable-cloud:hover {
  content: url('../assets/darkCloud.png');
}

img#lightning {
  position: absolute;
  height: 104%;
  width: 200%;
  top: 10%;
  bottom: 0em;
  left: -50%;
}  

img.flower {
  bottom: 0px;
  height: 10vh;
  position: absolute;
}