img#person-icon {
  position: absolute;
  width: 5em;
  left: 4%;
  bottom: 0%;
  transition: left 0.7s ease-in-out;
  cursor: pointer!important;
  content: url("../assets/person.png");
}

img#person-icon:hover {
  content: url("../assets/blue_person.png");
}

img#self-gif {
  position: absolute;
  width: 20em;
  left: 0%;
  bottom: 0%;
}

.invisible {
  left: -6em!important;
}
