img#person-icon {
  position: absolute;
  width: 2em;
  left: 4%;
  bottom: 0%;
  transition: left 0.7s ease-in-out;
  cursor: pointer!important;
}

img#person-icon:hover {
  filter: invert(50%) sepia(100%) hue-rotate(180deg);
}

img#self-gif {
  position: absolute;
  width: 10em;
  left: 0%;
  bottom: 0%;
}

.invisible {
  left: -5%!important;
}
