/* ============================================
   COLOR THEME
   ============================================ */

.shufflenator {
  --bg-color: #27667b !important;
  --alt-bg-color: #a0c878;
  --tertiary: #143d60;
  --text-color: #ddeb9d !important;
  --alt-text-color: var(--tertiary);
}


/* ============================================
   CONTAINER
   ============================================ */

.shufflenator {
  position: absolute;
  top: 0 !important;
  bottom: 0;
  width: 100%;
  height: max(100vh, 750px);
  margin: 0;
  display: inline-grid;
  grid-template-rows: 60% 15% 15%;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
}


/* ============================================
   SELECTOR
   ============================================ */

.shufflenator-selector {
  position: relative;
  width: 100%;
  height: max(40%, 335px);
  margin-top: max(10%, 60px);
  display: inline-grid;
  grid-template-rows: repeat(5, calc(100% / 5));
  align-items: center;
  align-self: flex-start;
  font-size: var(--medium-font);
}

.shufflenator-selector-row {
  width: 100% !important;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 50% 30%;
  align-items: center;
}

.shufflenator-selector-row-title {
  margin-right: 1em;
  justify-self: right;
  text-align: right;
}

.shufflenator-selector-row-select,
.shufflenator-selector-row-number {
  width: 100%;
  height: 70%;
  border: none;
  background-color: var(--alt-bg-color) !important;
  color: var(--alt-text-color) !important;
  font-family: ShareTechMono, sans-serif;
  font-size: var(--medium-font) !important;
  outline: unset;
  outline-color: transparent !important;
}

.shufflenator-selector-row-select {
  cursor: var(--pointer);
}

.shufflenator-selector-row-number {
  cursor: var(--text);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  cursor: var(--pointer);
  pointer-events: all;
}


/* ============================================
   SLIDER
   ============================================ */

.shufflenator-selector-row-slider {
  background-color: var(--alt-bg-color);
  border: none;
  box-shadow: none !important;
}

.bar,
.thumb-left::before,
.thumb-right::before {
  cursor: var(--pointer) !important;
}

.bar-left,
.bar-right {
  background-color: var(--bg-color) !important;
  box-shadow: none !important;
}

.bar-inner-left,
.bar-inner-right {
  background-color: var(--alt-text-color) !important;
  box-shadow: none !important;
}

.thumb::before {
  background-color: var(--alt-text-color) !important;
  box-shadow: none !important;
}

.caption {
  display: flex !important;
}

.caption .min-caption,
.caption .max-caption {
  left: -0.7em;
  padding: 0 !important;
  border: 3px solid var(--tertiary);
  background-color: var(--tertiary) !important;
  color: var(--text-color) !important;
  box-shadow: none !important;
  cursor: var(--arrow) !important;
  pointer-events: none;
}


/* ============================================
   SUBMIT BUTTON
   ============================================ */

.shufflenator-submit-button {
  width: fit-content;
  justify-self: center;
  align-self: flex-start;
  text-align: center;
  border: 2px solid var(--alt-bg-color);
  border-radius: 15%;
  background-color: var(--alt-bg-color);
  color: var(--bg-color);
  font-size: var(--medium-font);
  cursor: var(--pointer);
  transition: all 0.3s ease-in;
}

.shufflenator-submit-button-text {
  margin: 0.4em;
}

.shufflenator-submit-button:hover {
  position: relative;
  background-color: orange;
  border: 2px solid orange;
  animation: wiggle 0.3s linear;
}


/* ============================================
   RESULTS
   ============================================ */

.shufflenator-results {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--medium-font);
}


/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media screen and (max-width: 800px) {
  .shufflenator {
    grid-template-rows: 60% 5% 10%;
  }

  .shufflenator-selector-row {
    grid-template-columns: 45% 50%;
  }
}
