/* ============================================
   COLOR THEME
   ============================================ */

.shufflenator {
  --bg-color: var(--color-blue-dark) !important;
  --alt-bg-color: var(--color-red-crimson);
  --tertiary: var(--color-red-bright);
  --text-color: var(--color-white) !important;
  --alt-text-color: var(--bg-color);
}


/* ============================================
   CONTAINER
   ============================================ */

.shufflenator {
  position: absolute;
  top: 0 !important;
  bottom: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  box-sizing: border-box;
}


/* ============================================
   HEADER
   ============================================ */

.shufflenator-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.shufflenator-title {
  margin: 0;
  color: var(--tertiary);
  font-size: 2em;
}

.shufflenator-help-button {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 40px;
  height: 40px;
  border: 2px solid var(--tertiary);
  border-radius: 50%;
  background-color: transparent;
  color: var(--tertiary);
  font-size: 1.5em;
  font-weight: bold;
  cursor: var(--pointer);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.shufflenator-help-button:hover {
  background-color: var(--tertiary);
  color: var(--bg-color);
}

/* ============================================
   MODAL
   ============================================ */

.shufflenator-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-08);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  cursor: pointer;
}

.shufflenator-modal {
  position: relative;
  width: 90%;
  max-width: 700px;
  max-height: 80vh;
  background-color: var(--bg-color);
  border: 2px solid var(--tertiary);
  border-radius: 10px;
  padding: 2em;
  overflow-y: auto;
  cursor: default;
}

.shufflenator-modal::-webkit-scrollbar {
  width: 10px;
}

.shufflenator-modal::-webkit-scrollbar-track {
  background: var(--bg-color);
}

.shufflenator-modal::-webkit-scrollbar-thumb {
  background: var(--tertiary);
  border-radius: 5px;
}

.shufflenator-modal::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

.shufflenator-modal-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--tertiary);
  font-size: 2em;
  cursor: var(--pointer);
  transition: color 0.3s ease;
}

.shufflenator-modal-close:hover {
  color: var(--text-color);
}

/* ============================================
   EXPLAINER
   ============================================ */

.shufflenator-explainer {
  width: 100%;
  text-align: left;
  color: var(--text-color);
  user-select: text;
}

.shufflenator-explainer h2 {
  margin: 0 0 1em 0;
  color: var(--tertiary);
  font-size: 2em;
}

.shufflenator-explainer p {
  margin: 1em 0;
  line-height: 1.8;
  font-size: 1.2em;
}

.shufflenator-explainer code {
  padding: 0.2em 0.4em;
  background-color: var(--alt-bg-color);
  color: var(--text-color);
  border-radius: 3px;
  font-family: monospace;
}

.shufflenator-note {
  margin-top: 1.5em !important;
  padding-top: 1em;
  border-top: 1px solid var(--alt-bg-color);
  font-style: italic;
  color: var(--tertiary);
}


/* ============================================
   SELECTOR
   ============================================ */

.shufflenator-selector {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: inline-grid;
  grid-template-rows: repeat(5, 60px);
  align-items: center;
  font-size: var(--medium-font);
}

.shufflenator-selector-row {
  width: 100% !important;
  height: 100%;
  display: inline-grid;
  grid-template-columns: 50% 30%;
  align-items: center;
}

.shufflenator-selector-row-title {
  margin-right: 1em;
  justify-self: right;
  text-align: right;
}

.shufflenator-selector-row-select,
.shufflenator-selector-row-number {
  width: 100%;
  height: 70%;
  border: none;
  background-color: var(--alt-bg-color) !important;
  color: var(--alt-text-color) !important;
  font-family: JuliaMono, sans-serif;
  font-size: var(--medium-font) !important;
  outline: unset;
  outline-color: transparent !important;
}

.shufflenator-selector-row-select {
  cursor: var(--pointer);
}

.shufflenator-selector-row-number {
  cursor: var(--text);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  cursor: var(--pointer);
  pointer-events: all;
}


/* ============================================
   SLIDER
   ============================================ */

.shufflenator-selector-row-slider {
  background-color: var(--alt-bg-color);
  border: none;
  box-shadow: none !important;
}

.bar,
.thumb-left::before,
.thumb-right::before {
  cursor: var(--pointer) !important;
}

.bar-left,
.bar-right {
  background-color: var(--bg-color) !important;
  box-shadow: none !important;
}

.bar-inner-left,
.bar-inner-right {
  background-color: var(--alt-text-color) !important;
  box-shadow: none !important;
}

.thumb::before {
  background-color: var(--alt-text-color) !important;
  box-shadow: none !important;
}

.caption {
  display: flex !important;
}

.caption .min-caption,
.caption .max-caption {
  left: -0.7em;
  padding: 0 !important;
  border: 3px solid var(--tertiary);
  background-color: var(--tertiary) !important;
  color: var(--text-color) !important;
  box-shadow: none !important;
  cursor: var(--arrow) !important;
  pointer-events: none;
}


/* ============================================
   SUBMIT BUTTON
   ============================================ */

.shufflenator-submit-button {
  width: fit-content;
  text-align: center;
  border: 2px solid var(--alt-bg-color);
  border-radius: 15%;
  background-color: var(--alt-bg-color);
  color: var(--bg-color);
  font-size: var(--medium-font);
  cursor: var(--pointer);
  transition: all 0.3s ease-in;
}

.shufflenator-submit-button-text {
  margin: 0.4em;
}

.shufflenator-submit-button:hover {
  position: relative;
  background-color: var(--color-orange);
  border: 2px solid var(--color-orange);
  animation: wiggle 0.3s linear;
}


/* ============================================
   RESULTS
   ============================================ */

.shufflenator-results {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  text-align: center;
  font-size: var(--medium-font);
}


/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media screen and (max-width: 800px) {
  .shufflenator {
    padding: 1em;
  }

  .shufflenator-title {
    font-size: 1.5em;
  }

  .shufflenator-help-button {
    width: 35px;
    height: 35px;
    font-size: 1.3em;
  }

  .shufflenator-modal {
    width: 95%;
    padding: 1.5em;
  }

  .shufflenator-explainer h2 {
    font-size: 1.5em;
  }

  .shufflenator-explainer p {
    font-size: 1em;
  }

  .shufflenator-selector {
    max-width: 100%;
  }

  .shufflenator-selector-row {
    grid-template-columns: 45% 50%;
  }
}
