.snek-title {
  margin: 0px;
  margin-bottom: 7%;
  font-size: calc(16px + 2vmin);
}

.snek-title.pagified {
  margin-bottom: 40%;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game-container.pagified {
  width: 50%;
  height: 50%;
}

.board {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  width: 100%;
  height: calc((1/17.3) * 100%);
}

.cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted var(--text-color)!important;
}

.food {
  background-color: #3cff00;
  z-index: 1;
  border-color: var(--text-color);
  box-shadow: 0px 0px 2px 2px #3cff00;
  animation: glowfood 1.5s linear infinite alternate;

}

.body {
  background-color: var(--text-color);
}

button {
  background-color: var(--bg-color);
  border: 3px solid var(--text-color);
  height: 8%;
  width: fit-content;
  cursor: pointer;
  color: var(--text-color);
  position: absolute;
  top: 90%;
  font-family: inherit;
  font-size: calc(8px + 1vmin)!important;
  z-index: 999;
}

button.pagified {
  position: absolute;
  top: 34%;
  height: 3em;
}

button:hover {
  background-color: #3cff00;
  color: var(--inv-text-color);
  border: 3px solid var(--inv-text-color);
  transition: 0.8s;
}

.score {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 100%;
  filter: none!important;
}

.score.pagified {
  top: 70%;
}

.game-over {
  top: 70%;
  font-size: 26px;
  font-weight: bold;
  color: red;
  letter-spacing: 8px;
  position: absolute;
  animation: blinker 2s linear infinite;
  z-index: 998;
}

.game-over.pagified { 
  top: 20%;
}

@keyframes blinker {
  0% {opacity: 0.4}
  15% {opacity: 1.0}
  40% {opacity: 1.0}
  80% {opacity: 0.4}
  100% {opacity: 0.2}
}

.thumb-pad {
  background-color: transparent;
  width: 150px;
  height: 150px;
  position: relative;
  display: grid;  
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 33.3333%);
  user-select: none!important;
  text-align: center;
  align-content: center;
  align-items: center;
}
.thumb-pad-top, .thumb-pad-bottom {
  /* background-color: red; */
  height: 100%;
  width: 33.333%;
  margin-left: 33.333%;
}
.thumb-pad-middle {
  display: grid;  
  grid-template-columns: 33.333% 33.333% 33.333%;
  height: 100%;
}

.dir-button {
  height: 100%;
  text-align: center;
  align-content: center;
  align-items: center;
  border: 1px dashed var(--text-color);
  font-size: calc(16px + 2vmin);
}

.dir-button.middle {
  background-color: var(--bg-color);
  border: 1px dashed var(--text-color);
}

.dir-button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
