.sudoku-colors {
  --bg-color: rgb(78, 129, 98)!important;
  --secondary-bg-color: rgb(78, 129, 98)!important;
  --bg-highlight: rgb(94, 156, 118);
  --bg-highlight-epi: rgb(111, 183, 140);
  --text-highlight: yellow;
  --text-highlight-small: rgb(209, 167, 1);
  --text-color-small: rgb(169, 169, 169);
  --new-text: rgb(2, 2, 171);
  --inv-text-color: var(--bg-color);
  --inv-bg-color: var(--text-color);
  --hue-rotate: 0deg;
  --base-dim: min(17vw, 15vh);
  --medium-font: calc(9px + 2.5vmin);
  --small-font: calc(5px + 1.5vmin);
}

.sudoku-container {
  margin-top: 45px;
  width: calc(var(--base-dim) * 4.5);
  height: fit-content;
  overflow-y: visible;
  aspect-ratio: 1/1;
  justify-self: start;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.save-load {
  display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  width: 100%;
}

.save-load-button {
  top: inherit;
  border: 3px solid var(--text-color);
  border-radius: 10%;
  position: relative;
  width: fit-content;
}
.save-load-button:first-child {
  justify-self: start;
}
.save-load-button:last-child {
  justify-self: right;
  align-self: right;

}
.save-load-button:hover {
  background-color: inherit;
  color: inherit;
  border: 3px solid var(--text-color);
}
.save-load-button:active {
  background-color: var(--text-color)!important;
  color: var(--alt-text-color)!important;
  border: 3px solid var(--text-color);
  transition: all 0.5s cubic-bezier(0.1, 0.6, 0.1, 0.6);

}
.mistakes {
  text-align: center;
  margin-top: 10%;
  font-size: var(--small-font)
}

.sudoku-board {
  margin-top: calc(var(--base-dim)/10);
  width: 100%;
  aspect-ratio: 1/1;
  border: 4px solid var(--alt-text-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.sudoku-row {
  width: 100%;
  height: calc(100%/9);
  display: flex;
  flex-direction: row;
  position: relative;
}

.sudoku-selector-panel, .sudoku-control-panel {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
}

.sudoku-selector-panel {
  border: 4px solid var(--alt-text-color);
}

.sudoku-control-panel { 
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  border: none;
}

.sudoku-control-pane {
  width: fit-content;
  height: fit-content;
  border: none;
  vertical-align: middle;
  position: relative;
}

.sudoku-control-pane.undo { 
  justify-self: start;
}
.sudoku-control-pane.timer { 
  justify-self: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.sudoku-control-pane.pencil { 
  justify-self: end;
  border: 2px solid var(--bg-color);
}

p.control {
  margin-block-start: 0em;
  margin-block-end: 0em;
  height: 100%;
  unicode-bidi: normal;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}
p.control.timer.selected {
  color: var(--alt-text-color);
}

img.control {
  display: block;
  justify-self: center;
  margin-bottom: 5px;
  height: calc(6.2vmin);
  aspect-ratio: 1/1;
}
img.control.undo {
  content: url('../assets/sudoku/undo.svg');
}
img.control.timer {
  content: url('../assets/sudoku/timer.svg');
}
img.control.pencil {
  content: url('../assets/sudoku/pencil.svg');
}

.sudoku-cell, .sudoku-selection {
  width: calc(100%/9);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--alt-text-color);
  transition: all 0.1s ease-in-out;
}

.sudoku-selection {
  border: none;
  aspect-ratio: 1/1;
  border-right: 1px dashed var(--alt-text-color);
  font-size: var(--medium-font);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sudoku-selection:last-of-type{
  border-right: none;
}

.sudoku-cell {
  background-color: var(--secondary-bg-color);
  color: var(--alt-text-color);
  font-size: var(--medium-font);
}

.sudoku-cell:hover,
.sudoku-selection:hover,
.sudoku-control:hover,
.sudoku-control-pane:hover {
  cursor: pointer;
}

.sudoku-selection, .sudoku-control {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sudoku-selection.selected, 
.sudoku-control.selected,
.sudoku-control-pane.pencil.selected {
  background-color: var(--alt-text-color);
  color: var(--inv-text-color)!important;
}
.sudoku-control-pane.pencil.selected {
  border-radius: 10%;
  border: 2px solid var(--alt-text-color);
}
.sudoku-control-pane.pencil.selected > img.control.pencil { 
  content: url('../assets/sudoku/bg-pencil.svg');
}

.note-cell {
  margin-top: 10%;
  color: var(--text-color-small);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-row {
  width: 100%;
  height: 33.33%;
  display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.note-sub-cell {
  text-align: center;
  font-size: var(--small-font);
}

.save-key-button {
  background-color: var(--bg-color);
  border: 3px solid var(--text-color);
  width: fit-content;
  cursor: pointer;
  color: var(--text-color);
  font-family: inherit;
  font-size: calc(8px + 1vmin) !important;
  z-index: 101;
  position: relative;
  /* top: calc(min(25vh, 35vw) + 10vh); */
  height: 3em;
}

.sudoku-cell.incorrect { background-color: rgb(161, 101, 137); }
.sudoku-cell.new-text { color: var(--new-text); }
.sudoku-cell.highlight { background-color: var(--bg-highlight); }
.sudoku-cell.epicenter { background-color: var(--bg-highlight-epi); }
.sudoku-cell.text-highlight { color: var(--text-highlight) }
.note-sub-cell.text-highlight { color: var(--text-highlight-small); }

/* mobile  */
@media screen and (max-width: 500px) {
  .sudoku-container {
    margin-top: 80px;
    width: 90vw;
  }
  .sudoku-selector-panel {
    height: calc(var(--base-dim)*0.8)!important;
    aspect-ratio: 1/1;
  }
}

/* desktop */
@media screen and (min-width: 501px) {
  .save-load-button:hover {
    color: var(--bg-color);
    background-color: var(--alt-text-color);
    border-color: var(--alt-text-color);
  }

  .sudoku-control-pane:hover {
    color: var(--alt-text-color);
  }

  .sudoku-control-pane.undo:hover > img.undo {
    content: url('../assets/sudoku/undo-alt.svg');
  }
  .sudoku-control-pane.timer:hover > img.timer {
    content: url('../assets/sudoku/timer-alt.svg');
  }
  .sudoku-control-pane.pencil:hover > img.pencil {
    content: url('../assets/sudoku/pencil-alt.svg');
  }
  .sudoku-control-pane.pencil.selected:hover > img.pencil {
    content: url('../assets/sudoku/pencil.svg');
  }
  .sudoku-control-pane.pencil.selected:hover > p.control.pencil {
    color: var(--text-color);
  }

  .sudoku-selection:hover {
    color: var(--text-highlight);
  }
}

*.c0 {
  border-left: none;
}
*.c8 {
  border-right: none;
}

*.c2, *.c5 {
  border-right: 1.5px solid var(--alt-text-color)!important;
}
*.c3, *.c6 {
  border-left: 1.5px solid var(--alt-text-color)!important;
}

*.r0 {
  border-top: none;
}
*.r8 {
  border-bottom: none;
}
*.r2, *.r5 {
  border-bottom: 1.5px solid var(--alt-text-color)!important;
}
*.r3, *.r6 {
  border-top: 1.5px solid var(--alt-text-color)!important;
}