div#bounce-room {
  position: absolute;
  height: 80vh;
  width: 80vw;
  left: 10vw;
  top: 10vh;
}

#root {
  background-color: var(--inv-bg-color);
}

div#bouncing-text {
  align-items: start;
  position: absolute;
  font-size: min(4vw, 4vh)!important;
  width: calc(min(4vw, 4vh) * 11);
  height: min(4vw, 4vh);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 500px) { 
  div#bouncing-text {
    width: calc(min(2vw, 4vh) * 11);
    height: 2em;
  }
}