/* ============================================
   BOUNCING TEXT CONTAINER
   ============================================ */

#root {
  background-color: var(--bg-color);
}

div#bounce-room {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}


/* ============================================
   BOUNCING TEXT
   ============================================ */

div#bouncing-text {
  position: absolute;
  width: fit-content;
  height: min(7.5vw, 7.5vh);
  align-items: start;
  font-size: min(7.5vw, 7.5vh) !important;
  user-select: none;
  color: black !important;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    -1px 0 0 white,
    1px 0 0 white,
    0 -1px 0 white,
    0 1px 0 white;
}


/* ============================================
   RESPONSIVE DESIGN
   ============================================ */

@media screen and (max-width: 500px) {
  div#bouncing-text {
    width: fit-content;
    height: fit-content;
    font-size: min(7.5vw, 7.5vh) !important;
    text-shadow:
      -1px -1px 0 white,
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white,
      -1px 0 0 white,
      1px 0 0 white,
      0 -1px 0 white,
      0 1px 0 white;
  }
}
