div#bounce-room {
  position: absolute;
  height: 80vh;
  width: 80vw;
  left: 10vw;
  top: 10vh;
}

div#bouncing-text {
  font-size: min(2vw, 4vh)!important;
  align-items: start;
  position: absolute;
  width: calc(min(2vw, 4vh) * 11);
  height: min(2vw, 4vh);
}