.colorblind-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  padding: 14px;
  z-index: 1000;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  cursor: var(--pointer);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.colorblind-toggle.colorblind-mode {
  background-color: rgb(95, 93, 156) !important;
}

.colorblind-toggle.regular-mode {
  background-color: #000000 !important;
}

.colorblind-toggle:hover {
  background-color: var(--text-color) !important;
  transform: scale(1.1) !important;
  border-color: var(--text-color) !important;
}

.colorblind-toggle-icon {
  width: 100%;
  height: 100%;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.colorblind-toggle:hover .colorblind-toggle-icon {
  filter: invert(0);
}

@media screen and (max-width: 500px) {
  .colorblind-toggle {
    display: none;
  }
}
